S3method(plot,dmr.distr)
export(cpgi.anno)
export(edmr)
export(filter.dmr)
export(genebody.anno)
export(get.dmr.genes)
export(get.hyper.dmr)
export(get.hypo.dmr)
export(getDMR)
export(myDiff.to.mixmdl)
export(plotCost)
export(plotMdl1)
export(stouffer)
export(stouffer.liptak)
importFrom(GenomicRanges,GRanges)
importFrom(GenomicRanges,findOverlaps)
importFrom(data.table,data.table)
importFrom(methylKit,getData)
importFrom(mixtools,normalmixEM)
